/* .day {
  color:black;
} */

.sun,
.holiday{
  color:red; 
}
.sat {
  color:blue; 
}

.prev_month,
.next_month {
  color:lightgray;
}

.marked {
  color:white;
  font-weight: bold;
  background-color: greenyellow;
  border-radius: 5px;
}

.selected {
  color: #ffffff;
  background-color: #4a90d9;
  padding: 0.4em;
  border-radius: 5px;
}

.today {
  color: #ffffff;
  background-color: yellow;
  padding: 0.4em;
  border-radius: 5px;
}

.header {
  /* 月とか年とか */
  color: white;
  font-weight: bold;
}

#txtSchedule
,info {
  color:white;
}
