.day {
  color:white;
}

.sun{
  color:red; 
}

.sat {
  color:lightblue; 
}

.prev_month,
.next_month {
  color:gray;
}

.marked {
  color:black;
  font-weight: bold;
  background-color: greenyellow;
  border-radius: 5px;
}

.holiday{
  color:red; 
}

.selected {
  color: #ffffff;
  background-color: #4a90d9;
  border-radius: 5px;
}

.today {
  color: black;
  background-color: yellow;
  border-radius: 5px;
}

.header {
  /* 月とか年とか */
  color: white;
  font-weight: bold;
}

.weekLine {
  color:white;
  background-color: green;
  font-weight: bold;
}

.infoText text{
  color:white;
}
